<div id="overlay"></div>
<div id="register">
  <div class="title">
    <div class="close">&#x2715;</div>
    <div>Register</div>
  </div>
  <div>
    <form action="/register" method="POST">
      <div>
        <label for="username">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="seller">
        <label for="seller">Sign Up as Seller</label>
        <input type="checkbox" id="seller" name="seller" />
      </div>
      <button>Sign Up</button>
    </form>
    <div class="divBtn"><button id="backLogInBtn">Log In</button></div>
  </div>
</div>
<div id="logIn">
  <div class="title">
    <div class="close">&#x2715;</div>
    <div>Login</div>
  </div>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <button>Login</button>
  </form>
  <form action="/login" method="POST">
    <input type="text" name="username" id="username" value="demoUser" hidden />
    <input
      type="password"
      name="password"
      id="password"
      value="demoUser"
      hidden
    />
    <div class="divBtn" style="margin-top: 0px">
      <button>Demo Log In</button>
    </div>
  </form>
  <div class="divBtn"><button id="registerBtn">Register</button></div>
</div>
<nav id="navibar">
  <div id="naviTop">
    <a href="/api/v1/" id="logo">LifeCraft</a>
    <form action="/api/v1/crafts">
      <input
        type="search"
        name="title"
        placeholder="Discover life's inspirations..."
      />
      <button><span class="material-symbols-outlined"> search </span></button>
    </form>
    <div id="navicons">
      <% if (!currentUser) {%>
      <div id="signIn">Sign In</div>
      <% } else{%>
      <div id="signOut"><a href="/api/v1/logout">Sign Out</a></div>
      <% } %>
      <a href="/api/v1/cart"
        ><span class="material-symbols-outlined"> shopping_cart </span></a
      >
      <% if (currentUser && currentUser.seller === true) {%>
      <a href="/api/v1/seller/crafts"
        ><span class="material-symbols-outlined"> storefront </span></a
      >
      <% } %>
      <i class="fa-regular fa-bell fa-2xl"></i>
      <i class="fa-regular fa-cart-shopping"></i>
    </div>
  </div>
  <div id="naviBottom">
    <a href="/api/v1/crafts/filter?category=jewelry">Jewelry</a>
    <a href="/api/v1/crafts/filter?category=prints">Prints</a>
    <a href="/api/v1/crafts/filter?category=clothing">Clothing</a>
    <a href="/api/v1/crafts/filter?category=ceramics">Ceramics</a>
    <a href="/api/v1/crafts/filter?category=plants">Plants</a>
  </div>
</nav>
