<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Fredericka+the+Great&family=Source+Serif+4:opsz@8..60&display=swap');
    </style>
    <link rel="stylesheet" href="/stylesheets/naviForms.css" />
    <link rel="stylesheet" href="/stylesheets/authForms.css" />
    <script defer src="/scripts/authScript.js"></script>
    <title>LifeCraft</title>
  </head>
  <body>
    <%- partial('../partials/naviForms') %> <%- body -%>
  </body>
</html>
