<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/error.css" />
<div id="container">
  <div class="bigText"><%= message %></div>
  <img src="/images/notFoundcat.gif" />
  <div>Click the <span class="bold">logo</span> to go back to safety.</div>
</div>
