#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

#register,
#login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: white;
  color: black;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 25%;
  left: 40%;
  border-radius: 25px;
}

#register .title,
#login .title {
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 15%;
  margin-top: 15px;
}

#register .close,
#login .close {
  position: absolute;
  left: 100%;
  top: -7%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#register form div,
#login form div {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

#register form,
#login form {
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
}

#register form button,
#login form button {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 300ms;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

#register form button:hover,
#login form button:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

#register form input,
#login form input {
  width: 100%;
  font-family: 'Source Serif 4', serif;
  border-radius: 10px;
  height: 30px;
}

#register form #seller {
  height: 15px;
  width: auto;
}

.seller {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seller label {
  width: auto;
}
