#product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
}

#img-review {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-left: 10px;
}

#img-review img {
  width: 700px;
  height: 450px;
  object-fit: cover;
  border-radius: 40px;
  margin-top: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

#reviews {
  width: 100%;
}

#details {
  width: 35%;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 15px;
}

#product button {
  font-family: 'Dosis', sans-serif;
  border-radius: 50px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  transition: 300ms;
}

#product button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

#productTitle {
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

#productTitle form {
  display: flex;
  column-gap: 20px;
}

#productTitle button {
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0px;
  width: 100px;
  height: 30px;
}

.price {
  font-weight: 700;
  font-size: 30px;
  width: 100%;
}

#qtySelect {
  display: flex;
  flex-wrap: wrap;
}

label {
  width: 100%;
}

select {
  border-radius: 10px;
  width: 500px;
  height: 40px;
}

#buyButton,
#addCartButton {
  font-size: 20px;
  font-weight: 700;
  width: 500px;
  height: 50px;
}

#buyButton {
  background-color: #54bab9;
  color: #e9dac1;
}

#buyButton:hover {
  cursor: not-allowed;
}

#addCartButton {
  background-color: #9ed2c6;
  color: #f7ecde;
  margin-top: 15px;
}

#shoppingButtons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

#reviews,
#shipping,
#description,
#OOS {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

#shipping div,
#description div {
  margin-top: 10px;
}

#OOS {
  color: red;
}

#sellerBtns button {
  margin-top: 10px;
}

.review,
.shippingText,
.descriptionText {
  font-weight: 400;
  font-size: 20px;
}

.review {
  display: flex;
  justify-content: flex-start;
}

.descriptionText {
  width: 100%;
}
