body {
  margin: 0;
}

#logo {
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  color: #e9dac1;
  text-decoration: none;
}

#navibar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 100px;
  background-color: #54bab9;
  column-gap: 50px;
}

#navibar img {
  width: 2vw;
  height: auto;
}

#navibar input {
  border-radius: 20px;
  width: 80%;
}

#navibar form {
  display: flex;
  flex-grow: 1;
}

#navibar button {
  border-radius: 50%;
}
